.detail-wrapper {
    height: 100vh;
    color: #fff;
}

.detail-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 6px;
}

.detail-subtext {
    font-size: 38px;
    line-height: 1.23;
    font-weight: 300;
}

.detail-genre {
    display: flex;
}

.detail-genre > span::after {
    content: ",";
}

.see-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos > iframe {
    margin-right: 12px;
}