
.cast-wrap {
    cursor: pointer;
}

.cast-known-wrap {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 120px;
    cursor: pointer;
}

.cast-known-wrap > img {
    width: 100%;
}

.cast-known-wrap > span {
    white-space: pre-wrap;
}