@import 'antd/dist/antd.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    position: relative;
    background: rgba(0, 0, 0, 0.85);
}

:root {
    --basic-color: rgba(0, 0, 0, 0.85);
    --basic-red: #F33F3F;
}

.spinner {
    position: absolute;
    top: 50%;
    right: 50%;
}

.ant-typography, h1.ant-typography, h2.ant-typography, h3.ant-typography, h4.ant-typography, h5.ant-typography {
    color: #fff;
    margin-bottom: 0;
}

.ant-input {
    background: transparent;
    border-radius: 4px;
    color: #fff;
}

.ant-input:focus, .ant-input:hover {
    border-color: #F33F3F;
}

.ant-btn-dangerous.ant-btn-primary {
    color: rgba(0, 0, 0, 0.85);
}

.scrollable-div {
    display: flex;
    overflow: auto hidden;
}

.scrollable-div::-webkit-scrollbar {
    display: none;
}

.ant-radio-button-wrapper {
    color: #fff;
    background: #000000;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.ant-radio-button-wrapper:hover {
    color: var(--basic-red);
}

.ant-radio-button-wrapper:first-child {
    border-left-color: #fff;
}

.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
    border-right-color: #fff;
}

.ant-radio-button-wrapper:first-child {
    border-color: #fff;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: #fff;
}

.ant-radio-button-wrapper:hover {
    border-color: var(--basic-red);
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    border-color: #fff;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    border-color: #fff;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: var(--basic-red);
}

.ant-radio-button-wrapper::selection > .ant-radio-button::selection {
    background-color: var(--basic-red);
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: var(--basic-red);
    border-color: #fff;
}

.pointer {
    cursor: pointer;
}